@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 500px 400px 400px;
    row-gap: 30px;
    column-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.Latestpost,
.post2,
.post3,
.post4,
.post5 {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    background-position: center;
}

.imageandinfowrapper {
    display: block;
}

.Latestpost {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    grid-column: span 2;
    grid-row: 1/2;
    height: 100%;
    overflow: hidden;
    font-weight: 300;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

h2 {
    font-size: 22px;
    margin: 1px;
    padding: 1px;
    text-decoration: none;
}

h3 {
    font-size: 22px;
    margin: 1px;
    padding: 1px;
    font-weight: 500;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 45px 50px;
    text-decoration: none;
}

.informationsmall {
    display: flex;
    flex-direction: column;
    padding: 25px 40px;
}

.info {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 18px;
    padding: 0px;
    align-items: flex-start;
    text-decoration: none;
    color: white;
}

.post2 {
    grid-column: span 1;
    grid-row: 2/3;
    height: 100%;
}

.post3 {
    grid-column: span 1;
    grid-row: 2/3;
    height: 100%;
}

.post4 {
    grid-column: span 1;
    grid-row: 3/4;
    height: 100%;
}

.post5 {
    grid-column: span 1;
    height: 100%;
    grid-row: 3/4;
}

@media (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 500px 400px 400px;
        row-gap: 30px;
        column-gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }


@media (max-width: 480px) {
    .main {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 285px 285px 285px 285px 285px;
    }

    .Latestpost,.post2,.post3,.post4,.post5 {

        grid-column: 1/2;
}

    }
}
